<a href="https://colab.research.google.com/github/Faczera/MLearning/blob/master/AV2-GestaoDoConhecimento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DISCIPLINA: Gestão do Conhecimento	 PROFESSOR(A): Alex Salgado
PERÍODO: 7o. TURNO: noite AVALIAÇÃO:

ALUNO(A): _

GRAU: VISTO DO PROFESSOR:

# Questão 1 - valor (1,0)

*** Crie um repositório no Github e adicione este arquivo no mesmo


1.1 - Você deve escolher uma base de dados aberta que seja possível treinar um modelo de aprendizagem de máquina Supervisionado de Classificação (assim como o exemplo da Iris e Cancer). A partir desta base de dados, você vai treinar o modelo, fazer previsões e calcular a acurácia do mesmo.
Obs.: Não utilizar nenhuma base de dados usada em aula,  nos trabalhos ou na biblioteca do sklearn.

[link text](https://archive.ics.uci.edu/ml/machine-learning-databases/00396/Sales_Transactions_Dataset_Weekly.csv)

1.2 - Após tratada, criar uma pasta no seu GoogleDrive e disponibilizar o link do arquivo de sua base (csv, xlsx, etc) para ser importado no seu código.

https://drive.google.com/file/d/1QoRj2Oq1p-BQjuwGNbpW1Y5DeJvlvZHZ/view?usp=sharing

## Criar um código usando o Jupyter Notebook e responder (através de código) às seguintes questões:

# Questão 2 - valor (1,0)



```
# Isto está formatado como código
```

2.1 - Importar os modulos python para machine learn e carregar o arquivo 

** Sugestão se for do tipo xlsx, usar o read_excel do pandas
import pandas as pd
dt = pd.read_excel("meuarquivo.xlsx")

In [8]:
import pandas as pd;
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics


ds = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00396/Sales_Transactions_Dataset_Weekly.csv')

ds = ds.filter(regex=r'Product|W')

2.2 - Exibir os primeiros registros desta tabela.

In [9]:
ds.head()

  Product_Code  W0  W1  W2  W3  W4  W5  ...  W45  W46  W47  W48  W49  W50  W51
0           P1  11  12  10   8  13  12  ...   10   12    3    7    6    5   10
1           P2   7   6   3   2   7   1  ...    1    1    4    5    1    6    0
2           P3   7  11   8   9  10   8  ...    5    7    8   14    8    8    7
3           P4  12   8  13   5   9   6  ...    4    6    8   14    8    7    8
4           P5   8   5  13  11   6   7  ...   12    6    6    5   11    8    9

[5 rows x 53 columns]

2.3 - De que se trata esse banco de dados? e que tipo de previsão pode ser feito com ele?

É um dataset com uma variedade de produtos cadastrados e quanto desses produtos foram vendidos num periodo de 52 semanas (1 ano), e com ele é possível prever a demanda de venda.

# Questão 3 - valor (0,5)

Utilizando as terminologias de Machine Learning(features e observações):

3.1 - Quantas "features" têm nessa base de dados?

In [10]:
len(ds.columns)

53

3.2 - Quantas observações têm nessa base de dados?

In [11]:
ds.shape

(811, 53)

# Questão 4 - valor (1,0)

4.1 - Faça uma previsão, usando o algoritmo de LogisticRegression.

# Questão 5 - valor (1,5)

Usando o método de avaliação de acurácia (Treinar e testar na base de dados inteira/Train test entire model), Calcular a acurácia de cada um dos 3 métodos abaixo.

4.1 - Acurácia usando o algoritmo de KNN (com 1 vizinho, k=1)

4.2 - Acurácia usando o algoritmo de KNN (com 5 vizinho, k=5)

4.3 - Acurácia usando o algoritmo de LogisticRegression

4.4 - De acordo com seus resultados anteriores, qual dos 3 métodos é mais eficiente?

In [ ]:
*** Envie o link do seu Github com essa resposta no Classroom